In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [63]:
players_df = pd.read_csv('../datasets/cricket.csv', encoding='unicode_escape')
players_df_1 = players_df[['Ave', 'SR']]

In [64]:
scaler = StandardScaler()
scaled_players_df_1 = scaler.fit_transform(players_df_1)

In [68]:
k_means = KMeans(n_clusters=4, random_state=100)
k_means.fit(scaled_players_df_1)
players_df['cluster_id'] = k_means.labels_
players_df.head()

/opt/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,cluster_id
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,3
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,1
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,1
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,0
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,2

In [90]:
players_df[players_df['cluster_id'] == players_df[players_df['Player'].str.contains('V Kohli', case=False)]['cluster_id'].iloc[0]]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,cluster_id
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,3
13,MS Dhoni (Asia/INDIA),2004-2017,295,255,70,9496,183*,51.32,10706,88.69,10,64,8,3
15,AB de Villiers (Afr/SA),2005-2017,222,213,39,9319,162*,53.55,9295,100.25,24,53,7,3
25,V Kohli (INDIA),2008-2017,188,180,29,8146,183,53.94,8952,90.99,27,43,11,3
34,HM Amla (SA),2008-2017,156,153,10,7186,159,50.25,8069,89.05,25,33,3,3
38,MG Bevan (AUS),1994-2004,232,196,67,6912,108*,53.58,9320,74.16,6,46,5,3
42,IVA Richards (WI),1975-1991,187,167,24,6721,189*,47.00,7451,90.20,11,45,7,3
63,MJ Guptill (NZ),2009-2017,146,143,16,5500,237*,43.30,6269,87.73,12,32,12,3
64,MEK Hussey (AUS),2004-2012,185,157,44,5442,109*,48.15,6243,87.16,3,39,3,3

In [97]:
# (high SR, high Ave) - A, 
# (low SR, low Ave) - B, 
# (High SR, Low Ave) - C, 
# (Low SR, High Ave) - D
cluster_to_category = {3: 'A', 2: 'B', 0: 'C', 1: 'D'}
players_df['Category'] = players_df['cluster_id'].map(cluster_to_category).fillna('Unknown')
pd.set_option('display.max_rows', None)
players_df['Player', 'Category']

KeyError: ('Player', 'Category')