In [41]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt

In [42]:
grades = pd.read_csv('../datasets/grades.csv')
grades.head()

                                          submission        submit_time
0  https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...  01/03/17-20:28:52
1  https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...  01/03/17-20:18:21
2  https://ckd.upgrad.com/UpGrad/a353d129-c100-43...  01/03/17-22:37:08
3  https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...  01/02/17-21:43:19
4  https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...  01/03/17-15:27:49

In [71]:
grades['s_id'] = grades.submission.str.split('/').str[4]
grades['s_format'] = grades.submission.str.split('/').str[5].str.split('.').str[1]
grades['roll_id'] = grades.submission.str.split('/').str[5].str.split('.').str[0]
grades.s_format.value_counts(normalize=True)

s_format
zip    0.954545
R      0.035354
7z     0.010101
Name: proportion, dtype: float64

In [110]:
grades['s_datetime'] = pd.to_datetime(grades['submit_time'], format='%m/%d/%y-%H:%M:%S')
grades['s_fulldate'] = pd.to_datetime(grades['s_datetime'], format='%d/%m/%y').dt.date
grades['s_fulltime'] = pd.to_datetime(grades['s_datetime'], format='%d/%m/%y').dt.time
grades['s_date'] = pd.to_datetime(grades['s_datetime'], format='%d/%m/%y').dt.day
grades['s_month'] = pd.to_datetime(grades['s_datetime'], format='%d/%m/%y').dt.month
grades['s_year'] = pd.to_datetime(grades['s_datetime'], format='%d/%m/%y').dt.year
grades['s_hour'] = pd.to_datetime(grades['s_datetime'], format='%d/%m/%y').dt.hour
grades['s_minute'] = pd.to_datetime(grades['s_datetime'], format='%d/%m/%y').dt.minute
grades['s_second'] = pd.to_datetime(grades['s_datetime'], format='%d/%m/%y').dt.second

In [111]:
grades[grades['s_datetime'] > '2017-01-03 23:59:59'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 5 to 196
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   submission        44 non-null     object
 1   submit_time       44 non-null     object
 2   s_date            44 non-null     int32
 3   s_time            44 non-null     object
 4   s_id              44 non-null     object
 5   s_format          44 non-null     object
 6   roll_id           44 non-null     object
 7   submission_date   44 non-null     int32
 8   submission_month  44 non-null     int32
 9   submission_year   44 non-null     int32
 10  s_datetime        44 non-null     datetime64[ns]
 11  s_month           44 non-null     int32
 12  s_year            44 non-null     int32
 13  s_fulldate        44 non-null     object
 14  s_fulltime        44 non-null     object
 15  s_hour            44 non-null     int32
 16  s_minute          44 non-null     int32
 17  s_second          44 non-null     int32
dtypes: datetime64[ns](1), int32(9), object(8)
memory usage: 5.0+ KB

In [112]:
grades.s_fulldate.value_counts()

s_fulldate
2017-01-03    120
2017-01-09     21
2017-01-02     14
2017-01-04     12
2016-12-30      6
2017-01-01      6
2017-01-08      3
2017-01-10      3
2016-12-29      2
2016-12-28      2
2017-01-07      2
2017-01-17      1
2017-02-03      1
2016-12-21      1
2017-01-06      1
2016-11-19      1
2016-12-31      1
2016-12-19      1
Name: count, dtype: int64

In [113]:
grades.s_hour.value_counts()

s_hour
23    66
21    27
22    24
20    16
0     10
1      8
14     6
18     6
13     6
15     4
17     4
12     3
10     3
3      3
19     2
4      2
16     2
2      2
6      1
8      1
11     1
9      1
Name: count, dtype: int64