In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
prices = pd.read_csv('../datasets/gold_silver.csv')

In [59]:
prices.GoldPrice.corr(prices.SilverPrice)

0.9542559570539781

In [72]:
prices['Year'] = prices.Month.str.split('-').str[1]

In [76]:
prices_2008 = prices[prices.Year == '08']

In [78]:
prices_2008.GoldPrice.corr(prices_2008.SilverPrice)

0.009583757463369392

In [136]:
currencies = pd.read_csv('../datasets/currencies.csv')

In [137]:
currencies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Currency                    11 non-null     object
 1   Chinese Yuan                11 non-null     float64
 2   Euro                        11 non-null     float64
 3   Japanese Yen                10 non-null     float64
 4   U.K. Pound Sterling         11 non-null     float64
 5   U.S. Dollar                 11 non-null     float64
 6   Algerian Dinar              9 non-null      float64
 7   Australian Dollar           11 non-null     float64
 8   Bahrain Dinar               11 non-null     float64
 9   Botswana Pula               9 non-null      float64
 10  Brazilian Real              11 non-null     float64
 11  Brunei Dollar               10 non-null     float64
 12  Canadian Dollar             10 non-null     float64
 13  Chilean Peso                11 non-null     float64
 14  Colombian Peso              11 non-null     object
 15  Czech Koruna                8 non-null      float64
 16  Danish Krone                11 non-null     float64
 17  Hungarian Forint            11 non-null     float64
 18  Icelandic Krona             11 non-null     float64
 19  Indian Rupee                9 non-null      float64
 20  Indonesian Rupiah           7 non-null      object
 21  Iranian Rial                6 non-null      object
 22  Israeli New Sheqel          11 non-null     float64
 23  Kazakhstani Tenge           8 non-null      float64
 24  Korean Won                  11 non-null     object
 25  Kuwaiti Dinar               6 non-null      float64
 26  Libyan Dinar                11 non-null     float64
 27  Malaysian Ringgit           8 non-null      float64
 28  Mauritian Rupee             9 non-null      float64
 29  Mexican Peso                11 non-null     float64
 30  Nepalese Rupee              11 non-null     float64
 31  New Zealand Dollar          11 non-null     float64
 32  Norwegian Krone             11 non-null     float64
 33  Rial Omani                  11 non-null     float64
 34  Pakistani Rupee             5 non-null      float64
 35  Nuevo Sol                   7 non-null      float64
 36  Philippine Peso             10 non-null     float64
 37  Polish Zloty                11 non-null     float64
 38  Qatar Riyal                 11 non-null     float64
 39  Russian Ruble               10 non-null     float64
 40  Saudi Arabian Riyal         11 non-null     float64
 41  Singapore Dollar            10 non-null     float64
 42  South African Rand          11 non-null     float64
 43  Sri Lanka Rupee             10 non-null     float64
 44  Swedish Krona               10 non-null     float64
 45  Swiss Franc                 11 non-null     float64
 46  Thai Baht                   9 non-null      float64
 47  Trinidad And Tobago Dollar  10 non-null     float64
 48  Tunisian Dinar              5 non-null      float64
 49  U.A.E. Dirham               11 non-null     float64
 50  Peso Uruguayo               6 non-null      float64
 51  Bolivar Fuerte              11 non-null     float64
dtypes: float64(47), object(5)
memory usage: 4.6+ KB

In [138]:
currencies = currencies.drop(columns=['Currency'])
currencies

,Chinese Yuan,Euro,Japanese Yen,U.K. Pound Sterling,U.S. Dollar,Algerian Dinar,Australian Dollar,Bahrain Dinar,Botswana Pula,Brazilian Real,...,South African Rand,Sri Lanka Rupee,Swedish Krona,Swiss Franc,Thai Baht,Trinidad And Tobago Dollar,Tunisian Dinar,U.A.E. Dirham,Peso Uruguayo,Bolivar Fuerte
0,9.29446,1.25367,143.645,1.05054,1.39596,NaN,1.87126,0.524882,NaN,4.47993,...,20.3528,202.763,11.8246,1.36009,NaN,9.28428,3.06035,5.12668,NaN,13.9247
1,9.31515,1.25322,142.715,1.06143,1.39684,154.063,1.85825,0.525213,15.2162,4.53611,...,20.6240,202.886,11.7627,1.35689,49.0655,9.26724,NaN,5.12992,42.9026,13.9335
2,9.31697,1.25834,140.540,1.07300,1.39286,154.094,1.87313,0.523717,15.2392,4.58224,...,20.7232,NaN,11.8805,1.36208,49.0692,9.25643,NaN,5.11527,42.6425,13.8938
3,9.31315,1.25737,140.640,1.06911,1.39316,153.957,1.85236,0.523829,15.1430,4.63032,...,20.4288,202.351,11.9192,1.36098,49.0295,NaN,NaN,5.11637,42.4176,13.8968
4,9.31350,1.25797,140.510,1.07261,1.39257,154.062,1.85974,0.523607,15.1202,4.64868,...,20.6063,202.271,11.9327,1.36472,49.0408,9.26432,NaN,5.11423,42.2060,13.8909
5,9.29403,1.25769,139.962,1.07050,1.38962,153.742,1.83836,0.522496,15.0067,4.58045,...,20.0773,201.842,11.9439,1.36641,48.7950,9.23745,3.07068,5.10337,NaN,13.8614
6,9.31021,1.25490,143.369,1.05762,1.39194,153.869,1.83439,0.523368,14.9510,4.59688,...,19.9238,202.179,11.8614,1.36674,48.9182,9.28617,3.07901,5.11187,NaN,13.8845
7,9.31350,1.25716,145.178,1.04680,1.39193,153.855,1.83101,0.523366,14.9509,4.55774,...,19.9273,202.175,11.9234,1.37063,48.9958,9.29005,3.06884,5.11187,42.1644,13.8845
8,9.30432,1.24695,144.895,1.05236,1.39122,153.763,1.82791,0.523097,14.9112,4.57572,...,19.8519,202.074,11.8098,1.36326,48.8873,9.29990,NaN,5.10926,NaN,13.8774
9,9.31532,1.25263,147.268,1.04242,1.39392,NaN,1.82786,0.524115,14.9723,4.50306,...,20.0040,202.467,11.8409,1.36451,48.7607,9.31437,NaN,5.11917,42.0267,13.9044
10,9.30354,1.25652,NaN,1.04952,1.38883,153.648,1.82741,0.522201,NaN,4.53453,...,19.8556,201.728,NaN,1.36647,NaN,9.28514,3.06822,5.10048,NaN,13.8536

In [142]:
currencies_clean = currencies.
#currencies_clean = currencies.apply(lambda x: x.replace(',',''))
#currencies['Colombian Peso'] = currencies['Colombian Peso'].apply()
#plt.matshow(currencies.corr())
#plt.show()
#currencies_clean = currencies.apply(currencies['Colombian Peso'])

TypeError: cannot convert the series to <class 'float'>

In [131]:
currencies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 51 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Chinese Yuan                11 non-null     float64
 1   Euro                        11 non-null     float64
 2   Japanese Yen                10 non-null     float64
 3   U.K. Pound Sterling         11 non-null     float64
 4   U.S. Dollar                 11 non-null     float64
 5   Algerian Dinar              9 non-null      float64
 6   Australian Dollar           11 non-null     float64
 7   Bahrain Dinar               11 non-null     float64
 8   Botswana Pula               9 non-null      float64
 9   Brazilian Real              11 non-null     float64
 10  Brunei Dollar               10 non-null     float64
 11  Canadian Dollar             10 non-null     float64
 12  Chilean Peso                11 non-null     float64
 13  Colombian Peso              11 non-null     float64
 14  Czech Koruna                8 non-null      float64
 15  Danish Krone                11 non-null     float64
 16  Hungarian Forint            11 non-null     float64
 17  Icelandic Krona             11 non-null     float64
 18  Indian Rupee                9 non-null      float64
 19  Indonesian Rupiah           7 non-null      object
 20  Iranian Rial                6 non-null      object
 21  Israeli New Sheqel          11 non-null     float64
 22  Kazakhstani Tenge           8 non-null      float64
 23  Korean Won                  11 non-null     object
 24  Kuwaiti Dinar               6 non-null      float64
 25  Libyan Dinar                11 non-null     float64
 26  Malaysian Ringgit           8 non-null      float64
 27  Mauritian Rupee             9 non-null      float64
 28  Mexican Peso                11 non-null     float64
 29  Nepalese Rupee              11 non-null     float64
 30  New Zealand Dollar          11 non-null     float64
 31  Norwegian Krone             11 non-null     float64
 32  Rial Omani                  11 non-null     float64
 33  Pakistani Rupee             5 non-null      float64
 34  Nuevo Sol                   7 non-null      float64
 35  Philippine Peso             10 non-null     float64
 36  Polish Zloty                11 non-null     float64
 37  Qatar Riyal                 11 non-null     float64
 38  Russian Ruble               10 non-null     float64
 39  Saudi Arabian Riyal         11 non-null     float64
 40  Singapore Dollar            10 non-null     float64
 41  South African Rand          11 non-null     float64
 42  Sri Lanka Rupee             10 non-null     float64
 43  Swedish Krona               10 non-null     float64
 44  Swiss Franc                 11 non-null     float64
 45  Thai Baht                   9 non-null      float64
 46  Trinidad And Tobago Dollar  10 non-null     float64
 47  Tunisian Dinar              5 non-null      float64
 48  U.A.E. Dirham               11 non-null     float64
 49  Peso Uruguayo               6 non-null      float64
 50  Bolivar Fuerte              11 non-null     float64
dtypes: float64(48), object(3)
memory usage: 4.5+ KB

In [121]:
currencies = currencies.apply(lambda x: float(x.replace(',','')), axis=0)
currencies.info()

TypeError: cannot convert the series to <class 'float'>

In [117]:
plt.matshow(currencies.corr())
plt.show()

ValueError: could not convert string to float: '43,008.70'