In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
prices = pd.read_csv('../datasets/gold_silver.csv')

In [59]:
prices.GoldPrice.corr(prices.SilverPrice)

0.9542559570539781

In [72]:
prices['Year'] = prices.Month.str.split('-').str[1]

In [76]:
prices_2008 = prices[prices.Year == '08']

In [78]:
prices_2008.GoldPrice.corr(prices_2008.SilverPrice)

0.009583757463369392

In [143]:
currencies = pd.read_csv('../datasets/currencies.csv')

In [144]:
currencies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Currency                    11 non-null     object
 1   Chinese Yuan                11 non-null     float64
 2   Euro                        11 non-null     float64
 3   Japanese Yen                10 non-null     float64
 4   U.K. Pound Sterling         11 non-null     float64
 5   U.S. Dollar                 11 non-null     float64
 6   Algerian Dinar              9 non-null      float64
 7   Australian Dollar           11 non-null     float64
 8   Bahrain Dinar               11 non-null     float64
 9   Botswana Pula               9 non-null      float64
 10  Brazilian Real              11 non-null     float64
 11  Brunei Dollar               10 non-null     float64
 12  Canadian Dollar             10 non-null     float64
 13  Chilean Peso                11 non-null     float64
 14  Colombian Peso              11 non-null     object
 15  Czech Koruna                8 non-null      float64
 16  Danish Krone                11 non-null     float64
 17  Hungarian Forint            11 non-null     float64
 18  Icelandic Krona             11 non-null     float64
 19  Indian Rupee                9 non-null      float64
 20  Indonesian Rupiah           7 non-null      object
 21  Iranian Rial                6 non-null      object
 22  Israeli New Sheqel          11 non-null     float64
 23  Kazakhstani Tenge           8 non-null      float64
 24  Korean Won                  11 non-null     object
 25  Kuwaiti Dinar               6 non-null      float64
 26  Libyan Dinar                11 non-null     float64
 27  Malaysian Ringgit           8 non-null      float64
 28  Mauritian Rupee             9 non-null      float64
 29  Mexican Peso                11 non-null     float64
 30  Nepalese Rupee              11 non-null     float64
 31  New Zealand Dollar          11 non-null     float64
 32  Norwegian Krone             11 non-null     float64
 33  Rial Omani                  11 non-null     float64
 34  Pakistani Rupee             5 non-null      float64
 35  Nuevo Sol                   7 non-null      float64
 36  Philippine Peso             10 non-null     float64
 37  Polish Zloty                11 non-null     float64
 38  Qatar Riyal                 11 non-null     float64
 39  Russian Ruble               10 non-null     float64
 40  Saudi Arabian Riyal         11 non-null     float64
 41  Singapore Dollar            10 non-null     float64
 42  South African Rand          11 non-null     float64
 43  Sri Lanka Rupee             10 non-null     float64
 44  Swedish Krona               10 non-null     float64
 45  Swiss Franc                 11 non-null     float64
 46  Thai Baht                   9 non-null      float64
 47  Trinidad And Tobago Dollar  10 non-null     float64
 48  Tunisian Dinar              5 non-null      float64
 49  U.A.E. Dirham               11 non-null     float64
 50  Peso Uruguayo               6 non-null      float64
 51  Bolivar Fuerte              11 non-null     float64
dtypes: float64(47), object(5)
memory usage: 4.6+ KB

In [145]:
currencies = currencies.drop(columns=['Currency'])

In [179]:
currencies = currencies.map(lambda x: x if type(x) == float else float(x.replace(',','')))

In [182]:
correlation_matrix = currencies.corr()

In [189]:
correlation_matrix['Indian Rupee'].sort_values(ascending=False)

Indian Rupee                  1.000000
Pakistani Rupee               0.991673
Kuwaiti Dinar                 0.931099
Botswana Pula                 0.930798
Algerian Dinar                0.923232
Australian Dollar             0.921475
Indonesian Rupiah             0.907353
Nepalese Rupee                0.897655
South African Rand            0.897567
Nuevo Sol                     0.877833
Bahrain Dinar                 0.873195
Bolivar Fuerte                0.873170
Rial Omani                    0.873151
Saudi Arabian Riyal           0.873101
Qatar Riyal                   0.873075
U.S. Dollar                   0.872862
U.A.E. Dirham                 0.872859
Sri Lanka Rupee               0.872443
Thai Baht                     0.868087
Malaysian Ringgit             0.840498
Mauritian Rupee               0.835943
Icelandic Krona               0.825889
Brunei Dollar                 0.798249
Singapore Dollar              0.798249
Russian Ruble                 0.790276
Iranian Rial                  0.784995
Peso Uruguayo                 0.758479
Hungarian Forint              0.754688
Chilean Peso                  0.751085
Mexican Peso                  0.657036
Korean Won                    0.648851
Czech Koruna                  0.611994
Israeli New Sheqel            0.518196
Polish Zloty                  0.474792
New Zealand Dollar            0.444635
Colombian Peso                0.372996
U.K. Pound Sterling           0.314681
Canadian Dollar               0.304291
Chinese Yuan                  0.304050
Danish Krone                  0.282445
Euro                          0.243851
Norwegian Krone              -0.019682
Brazilian Real               -0.056475
Philippine Peso              -0.057445
Kazakhstani Tenge            -0.074799
Trinidad And Tobago Dollar   -0.186861
Swedish Krona                -0.186991
Japanese Yen                 -0.270123
Tunisian Dinar               -0.618041
Swiss Franc                  -0.655866
Libyan Dinar                       NaN
Name: Indian Rupee, dtype: float64

In [195]:
JUS = correlation_matrix['Japanese Yen']['U.S. Dollar']
AI = correlation_matrix['Australian Dollar']['Indian Rupee']
JUK = correlation_matrix['Japanese Yen']['U.K. Pound Sterling']
CE = correlation_matrix['Chinese Yuan']['Euro']

In [198]:
print(JUS)
print(AI)
print(JUK)
print(CE)

0.21029481387664484
0.9214754518981321
-0.970308318144789
0.15159624624618137

In [199]:
cust_rating = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/GvOkzy5MLdy9zJ8vXMArwpRvN/rating_final.csv')
cust_rating.info()
cust_rating.head()
cust_rating['avg_rating'] = round((cust_rating.rating + cust_rating.food_rating + cust_rating.service_rating) / 3)
cust_rating